*{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
body{
  background-color: rgba(117, 117, 101, 0.37);
  height: 70vh;
  width: 65vw;
  overflow-y: auto;
  
}
h1{
  height: 7rem;
  text-align: right;
  display: block;
  font-size: xx-large;
}
#search {
    width: 50px;
}
#movieList{
  height:7vh;
}
#movieDetails{
  
  width: 50vw;
  height: 30vh;

  
}
#movieDetails img{
  height: 50vh;
  width: 50vh;
}
.moviesList{
  /* background-color: red; */
  width: 90vw;
  height: 70px;
}
.big{
  display: flex;
}
.list-group-item {
  line-height: 1rem;
}